a {
    text-decoration: none;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-form__item {
    flex-grow: 1;
    max-width: 600px;
}

.search-form__item-input {
    width: 100%;
    padding: 8px 80px 8px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__link {
    color: #fff;
}

.sell-button {
    padding: 8px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
}

.tab-menu {
    border-bottom: 1px solid #000;
}

.tab-menu__inner {
    margin: 32px auto 0;
    width: 84%;
}

.tab {
    margin-left: 150px;
    color: #000;
}

.tab.active {
    color: red;
}

.tab-menu__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.item-img img {
    width: 60%;
    height: auto;
    object-fit: cover;
}

.item-name {
    font-size: 2.5rem;
    text-align: left;
    /* 左揃えにする */
    align-self: flex-start;
    /* 商品名を画像の左端に合わせる */
}

@media screen and (max-width: 850px) {
    .header-container {
        flex-direction: column;
        align-items: stretch;

        gap: 10px;
    }

    .header-nav {
        justify-content: center;
        flex-wrap: wrap;

        gap: 10px;
    }



}