a {
    text-decoration: none;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-form__item {
    flex-grow: 1;
    max-width: 600px;
}

.search-form__item-input {
    width: 100%;
    padding: 8px 80px 8px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__link {
    color: #fff;
}

.sell-button {
    padding: 8px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
}

.item-details {
    display: flex;
    padding: 20px;
}

.item-image img {
    width: 700px;
    height: 700px;
    object-fit: cover;
}

.item-info {
    margin-left: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    /* 全体を縦並びにする */
    align-items: flex-start;
    gap: 8px;
    /* 各要素間のスペース */
}

.info {
    display: flex;
    /* 横並びにする */
    gap: 30px;
    /* 各<span>間のスペース */
}

.icon {
    width: 40px;
    /* 適切なサイズに変更 */
    height: auto;
    vertical-align: middle;
    margin-right: 4px;
    /* テキストとの間隔 */
}

.purchase-button {
    background-color: #f54;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.description,
.additional-info,
.comments-section {
    margin-top: 20px;
}

.comment-submit-button {
    background-color: #f54;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}



@media screen and (max-width: 850px) {
    .header-container {
        flex-direction: column;
        align-items: stretch;

        gap: 10px;
    }

    .header-nav {
        justify-content: center;
        flex-wrap: wrap;

        gap: 10px;
    }
}