a {
    text-decoration: none;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-form__item {
    flex-grow: 1;
    max-width: 600px;
}

.search-form__item-input {
    width: 100%;
    padding: 8px 80px 8px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__link {
    color: #fff;
}

.sell-button {
    padding: 8px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
}

/*プロフィール設定*/
.profile__edit__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.profile__edit__form {
    width: 45vw;
}

/* 画像表示枠を丸型にし、画像が設定されていない場合はグレー色に */
.profile-img__inner {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-img__item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-img__item--no-image {
    background-color: #D9D9D9;
    width: 150px;
    height: 150px;
}

.profile_image__error-message {
    margin-bottom: 30px;
    color: #FF9494;
    font-size: 2.0rem;
}

.profile-img__select {
    margin-left: 30px;
}

.profile-img__btn {
    display: none;
}

.profile-img__btn-label {
    display: inline-block;
    color: #FF5555;
    padding: 8px 16px;
    border: 2px solid #FF5555;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .profile__edit__form
    .profile__edit__heading {
        width: 8vw;
    }
}

.profile__edit__group {
    margin-bottom: 32px;
}

.profile__edit__label {
    display: block;
    margin-bottom: 8px;
    font-size: 2.0rem;
    font-weight: bold;
}

.profile__edit__input {
    display: block;
    padding: 8px 12px;
    width: 45vw;
    height: 60px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    color: #000;
}

.profile__edit__error-message {
    color: #FF9494;
    font-size: 2.0rem;
}

.profile__edit__btn {
    margin: 100px auto 0;
    width: 45vw;
}













@media screen and (max-width: 850px) {
    .header-container {
        flex-direction: column;
        align-items: stretch;

        gap: 10px;
    }

    .header-nav {
        justify-content: center;
        flex-wrap: wrap;

        gap: 10px;
    }
}